:root {
	/* Colors */
	--clr-natural-900: #172339;
	--clr-natural-500: #49566d;
	--clr-natural-200: #f3ede7;
	--clr-natural-0: #faf8f6;

	--clr-purple: #cb30e3;

	--clr-gradient: linear-gradient(
		135deg,
		#a060ff 0%,
		#cb30e3 49.21%,
		#ffa84e 100%
	);

	/* Typography */

	--ff-main: 'Epilogue', sans-serif;

	--fs-900: 72px;
	--fs-800: 56px;
	--fs-700: 38px;
	--fs-600: 48px;
	--fs-500: 20px;
	--fs-400: 18px;
	--fs-300: 16px;
	--fs-200: 15px;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

body {
	font-family: var(--ff-main);
	color: var(--clr-natural-900);
}

.suite__header {
	padding: 1.75rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.suite__header-logo {
	transform: translateY(0.3rem);
}

.suite__header-btn {
	background: none;
	border: none;
	outline: 1px solid var(--clr-natural-900);
	border-radius: 6px;
	font-weight: 700;
	padding: 0.8rem;
}

.suite__hero {
	position: relative;
	padding: 1rem;
}

.suite__hero-pattern {
	position: absolute;
	height: 1.2rem;
	right: 3rem;
	top: 0.45rem;
}

.suite__hero-title {
	margin-top: 1rem;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 110%;
}

.suite__hero-title span {
	font-weight: 800;
}

.suite__hero-text {
	color: var(--clr-natural-500);
	margin-top: 1.25rem;
	font-size: 1.1rem;
	line-height: 155%;
}

.suite__hero-btn {
	margin-block: 2.3rem 3rem;
	background-color: var(--clr-natural-900);
	color: var(--clr-natural-0);
	border: none;
	padding: 1.35rem 2rem;
	font-weight: 600;
	border-radius: 0.6rem;
}

.suite__stats {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2.4rem;
}

.stat__container-num {
	font-size: 3rem;
	font-weight: 700;
}

.stat__container-title {
	letter-spacing: 2px;
	color: var(--clr-natural-500);
}

.suite__testimonial {
	position: relative;
	background-color: var(--clr-natural-900);
	border-radius: 0.8rem;
	margin-top: 16.5rem;
	height: 744px;
	padding-top: 22rem;
}

.suite__testimonial-img {
	position: absolute;
	left: 60%;
	transform: translateX(-50%);
	top: -11rem;
	width: 100%;
	max-width: 300px;
}

.suite__testimonial-background {
	position: absolute;
	opacity: 0.5;
	top: 0;
}

.suite__testimonial-pattern {
	position: absolute;
	top: 16rem;
	left: 50%;
	transform: translateX(-50%);
}

.suite__testimonial-title {
	color: var(--clr-natural-200);
	font-size: 3rem;
	text-align: center;
}

.suite__testimonial-title span {
	font-weight: 700;
}

.suite__testimonial-text {
	color: var(--clr-natural-200);
	margin-top: 2rem;
	text-align: center;
	font-size: 1.3rem;
	padding-inline: 0.5rem;
}

.suite__testimonial-name {
	color: var(--clr-natural-200);
	margin-top: 1rem;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;
}

.suite__testimonial-role {
	color: var(--clr-natural-200);
	text-align: center;
	letter-spacing: 20%;
}

.suite__footer {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 3rem;
	gap: 2rem;
}

.suite__footer-logo {
	height: 3rem;
	width: 5rem;
	margin-inline: auto;
}

.suite__footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
